* {
	font-family: 'Press Start 2P', cursive;
}
body {
	height: 1500px;
}
button {
	font-family: 'Press Start 2P', cursive;
}

header {
	height: fit-content;
}

#new-character {
	margin-bottom: 10px;
}
#init-button {
	display: none;
}
#character-element {
	margin-top: 30px;
}
#map {
	margin-top: 30px;
}
#playerHp {
	margin: 0;
}
#playerHpLabel {
	margin: 0;
	font-weight: bolder;
	color: white;
}

#bio-area {
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size: 0.5em;
}

#skills-stats {
	color: white;
}
#combatLog {
	height: 300px;
}
#player-hp-bar {
	width: 100%;
}

#start-battle {
	font-size: 2em;
	height: 3em;
	font-family: 'Press Start 2P', cursive;
}
#camp-fire {
	height: 200px;
}
#traveler1 {
	width: 40px;
	margin-top: 510px;
	margin-left: 370px;
}
#traveler2 {
	width: 40px;
	margin-top: 330px;
	margin-left: 370px;
}
#traveler3 {
	width: 40px;
	margin-top: 230px;
	margin-left: 135px;
}
#traveler4 {
	width: 40px;
	margin-top: 70px;
	margin-left: 500px;
}
.album {
	position: relative;

	width: 1000px;
	vertical-align: top;
	display: block;
}

/* the images */
.album img {
	position: absolute;
	top: 0;
	left: 0;

	display: block;
}
#quote-section {
	margin-top: 200px;
}
